# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.local

# Logs
*.log

# Docker
*.pid
*.seed
*.pid.lock

# PyCharm / JetBrains IDE
.idea/

# VSCode
.vscode/

# Node / Frontend
node_modules/
dist/

# System
.DS_Store
Thumbs.db